<html>
  <head>
    <title>{% block sub-title %}{% endblock %}CrisisCorps.org - Bringing People and Crisis Together</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"/>
  </head>
  <body>
    <div id="body-wrapper">
      <div id="heading">
        <h1><span class="logo"><a href="/"><img src="/images/logo.png" alt="CrisisCorps.org Logo"/></a></span> Crisis Corps</h1>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer"><a href="/organizations/login">Organization Login</a> | About | Privacy Policy | &copy; 2010</div>
    </div>
  </body>
</html>
