<html>
  <head>
    <title>CrisisCorps.org - Bringing Help to Crisis Needs</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="body-wrapper">
      <div id="content">
        <div class="logo"><img src="/images/logo-large.png" alt="CrisisCorps.org Logo"/></div>
        <p>We're bringing people to help out with Crisis needs around the world.</p>
        <p>What type of user are you?</p>
        <div class="user-types">
          <div class="two-col center-align">
            <a href="/individuals"><img src="/images/individual.png" alt="Individual"/></a>
	    <p>Help Now</p>
	  </div>
          <div class="two-col center-align last">
            <a href="/organizations"><img src="/images/organization.png" alt="Organization"/></a>
	    <p>Join Our Network</p>
	  </div>
        </div>
      </div>
    </div>
  </body>
</html>
