<html>
  <head>
    <title>CrisisCorps.org - Bringing Help to Crisis Needs</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"/>
  </head>
  <body>
    <div id="body-wrapper">
      <div id="content">
        <div class="logo"><img src="/images/logo-large.png" alt="CrisisCorps.org Logo"/></div>
        <p>Connecting people with Crises in need.</p>
        <p class="center-align">What type of user are you?</p>
        <div class="user-types">
          <div class="two-col center-align">
            <a href="/individuals"><img src="/images/individual.png" alt="Individual"/></a>
	    <p><a href="/individuals">Help Now</a></p>
	  </div>
          <div class="two-col center-align last">
            <a href="/organizations"><img src="/images/organization.png" alt="Organization"/></a>
	    <p><a href="/organizations">Join Our Network</a></p>
	  </div>
        </div>

	<a href="#about">About</a>
	<div id="about" class="collapsible">
	  <p>The Crisis Corp Facebook Application was created out of the
		  need to aggregate crowdsourcing resources for disaster relief
		  tasks, such as translation of SMS messages and digital map
		  enhancement. It is crucial to have a crowdsourcing network in
		  place prior to a disaster so that accomplishing Mechanical
		  Turk-like tasks requires only activation of the network, not
		  creation of it. </p>
	  <p>The app is designed to take advantage of the
		  social aspects of Facebook in order to create a crowdsourcing
		  network of individuals, gathering and recording their skillset
		  and interest data to help qualify them as candidates for
		  working on whatever tasks and needs may arise. Crisis Corp is
		  not a Mechanical Turk application; we create the network of
		  people that are standing by for you to call into service with
		  your evaluation system. Organizations coordinating their
		  crowdsourcing efforts through Crisis Corp enhances the
		  credibility of the tool, and helps grow the social network of
		  users through merit based incentives setup by Crisis Corp and
		  granted by the organization.</p>
	</div>
      </div>
    </div>
  </body>
</html>
