<html>
  <head>
    <title>CrisisCorps.org - Bringing Help to Crisis Needs</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="body-wrapper">
      <div id="content">
        <h1 class="logo center-align"><img src="/images/logo-large.png" alt="CrisisCorps.org Logo"/><br/> Crisis Corps</h1>
        <p>Connecting people with Crises in need.</p>

	<p>1) Install the App, 2) Share your skills, 3) Pick a job, 4) Start making a difference</p>

	<p>Organizations from around the world are working hard to tackle tough
		problems. Whether it be humanitarian aid or disaster relief,
		their goal is to help people. Some of their tasks
		require little more than manpower and clicks of a mouse.</p>

        <p class="center-align">What type of user are you?</p>
        <div class="user-types two-col">
          <div class="center-align">
            <a href="/individuals"><img src="/images/individual.png" alt="Individual"/></a>
	    <p><a href="/individuals">Help Now</a></p>
	  </div>
          <div class="center-align last">
            <a href="/organizations"><img src="/images/organization.png" alt="Organization"/></a>
	    <p><a href="/organizations">Join Our Network</a></p>
	  </div>
        </div>

	<div class="story">
	  <h2>Story - Haiti and OSM</h2>
	  <p>During the Haiti earthquake aftermath, users around the globe
		contributed their knowledge to the Open Street Maps project
		which helped to fill in knowledge gaps on maps of the effected
		area, enabling relief efforts to be better informed of their
		surroundings. Thousands of text messages were translated into
		languages that rescuers could understand, and lives were saved
		as a result. All of that work was done by individuals,
		sitting at their computer and volunteering their time and
		effort to make a difference. </p>
	  <p>Read more</p>
	</div>

      </div>
      <div id="footer"><a href="/organizations/login">Organization Login</a> | About | Privacy Policy | &copy; 2010</div>
    </div>
  </body>
</html>
